<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<div class="elm-dots"><span></span></div>
				<div class="logo-title">печать на&nbsp;стенах</div>
			</a>
		</div>
		<div class="contacts-inner-wrap">
			<div class="contacts-wrap">
				<div class="phone-wrap">
					<a href="tel:80000000000" class="link-phone">+7 (000) 000 00 00</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-wa.svg" alt="">
					</a>
				</div>
				<div class="email-wrap">
					<a href="mailto:info@print.ru" class="link-email">info@print.ru</a>
				</div>
			</div>
			<div class="info-wrap">
				<p>г. Москва, Красная площадь, дом&nbsp;1</p>
				<p>Время работы Пн-Сб 09:00-19:00</p>
			</div>
		</div>
		<div class="info-inner-wrap">
			<p><a href="" onclick="document.getElementById('popup-text01').classList.add('active');document.body.classList.add('popup-open');return false;">Пользовательское соглашение</a></p>
			<p><a href="" onclick="document.getElementById('popup-text02').classList.add('active');document.body.classList.add('popup-open');return false;">Политика конфиденциальности</a></p>
			<div class="rate-inner-wrap">
				<div class="rate-wrap">
					<div class="elm-rate">
						<div class="elm-ico ico-large">
							<img src="./img/icons/yd.svg" alt="">
						</div>
						<div class="rate-total">
							<div class="rate-title">4,8</div>
							<div class="rate-max">/5</div>
						</div>
					</div>
				</div>
				<div class="rate-wrap">
					<div class="elm-rate">
						<div class="elm-ico">
							<img src="./img/icons/rate.svg" alt="">
						</div>
						<div class="rate-text">Ваша <br>оценка</div>
					</div>
				</div>
				<div class="rate-info">Рейтинг организации в Яндексе</div>
			</div>
		</div>
		<div class="copy-inner-wrap">
			<p>©2024 Все права защищены.</p>
		</div>
		<div class="menu-inner-wrap">
			<ul class="menu">
				<li><a href="">Технология</a></li>
				<li><a href="">Цены</a></li>
				<li><a href="">Подбор изображения</a></li>
				<li><a href="">Примеры работ</a></li>
				<li><a href="">FAQ</a></li>
			</ul>
		</div>
	</div>
</footer>
<!-- /footer -->


<div class="popup-outer-box" id="popup-text01">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close" onclick="this.closest('.popup-outer-box').classList.remove('active');document.body.classList.remove('popup-open');return false;"></a>
		<div class="popup-content-wrap inner-text">
			<div class="popup-text-box">
				<h3 class="h3-title">Пользовательское соглашение</h3>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, vero. Nesciunt, ipsa explicabo. Beatae incidunt aut aspernatur maiores quia consequuntur? Delectus fuga quis eveniet? Aspernatur, dicta ex. Exercitationem, officiis qui!</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam omnis suscipit numquam, esse eligendi asperiores fugiat? Aliquid eveniet officia quam architecto doloribus! Magnam quibusdam quod, impedit quo in recusandae commodi voluptatum iure dicta beatae officiis nostrum, laudantium quaerat, at corporis consectetur ipsum sapiente eum quisquam provident! Dolore explicabo corporis adipisci.</p>
				<h3 class="h3-title">Lorem, ipsum dolor.</h3><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, vero. Nesciunt, ipsa explicabo. Beatae incidunt aut
					aspernatur maiores quia consequuntur? Delectus fuga quis eveniet? Aspernatur, dicta ex. Exercitationem, officiis
					qui!</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam omnis suscipit numquam, esse eligendi asperiores
					fugiat? Aliquid eveniet officia quam architecto doloribus! Magnam quibusdam quod, impedit quo in recusandae commodi
					voluptatum iure dicta beatae officiis nostrum, laudantium quaerat, at corporis consectetur ipsum sapiente eum
					quisquam provident! Dolore explicabo corporis adipisci.</p>
				<h3 class="h3-title">Lorem, ipsum dolor.</h3>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, vero. Nesciunt, ipsa explicabo. Beatae incidunt aut aspernatur maiores quia consequuntur? Delectus fuga quis eveniet? Aspernatur, dicta ex. Exercitationem, officiis qui!</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam omnis suscipit numquam, esse eligendi asperiores fugiat? Aliquid eveniet officia quam architecto doloribus! Magnam quibusdam quod, impedit quo in recusandae commodi voluptatum iure dicta beatae officiis nostrum, laudantium quaerat, at corporis consectetur ipsum sapiente eum quisquam provident! Dolore explicabo corporis adipisci.</p>
				<h3 class="h3-title">Lorem, ipsum dolor.</h3><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, vero. Nesciunt, ipsa explicabo. Beatae incidunt aut
					aspernatur maiores quia consequuntur? Delectus fuga quis eveniet? Aspernatur, dicta ex. Exercitationem, officiis
					qui!</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam omnis suscipit numquam, esse eligendi asperiores
					fugiat? Aliquid eveniet officia quam architecto doloribus! Magnam quibusdam quod, impedit quo in recusandae commodi
					voluptatum iure dicta beatae officiis nostrum, laudantium quaerat, at corporis consectetur ipsum sapiente eum
					quisquam provident! Dolore explicabo corporis adipisci.</p>
				<h3 class="h3-title">Lorem, ipsum dolor.</h3>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, vero. Nesciunt, ipsa explicabo. Beatae incidunt aut aspernatur maiores quia consequuntur? Delectus fuga quis eveniet? Aspernatur, dicta ex. Exercitationem, officiis qui!</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam omnis suscipit numquam, esse eligendi asperiores fugiat? Aliquid eveniet officia quam architecto doloribus! Magnam quibusdam quod, impedit quo in recusandae commodi voluptatum iure dicta beatae officiis nostrum, laudantium quaerat, at corporis consectetur ipsum sapiente eum quisquam provident! Dolore explicabo corporis adipisci.</p>
				<h3 class="h3-title">Lorem, ipsum dolor.</h3><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, vero. Nesciunt, ipsa explicabo. Beatae incidunt aut
					aspernatur maiores quia consequuntur? Delectus fuga quis eveniet? Aspernatur, dicta ex. Exercitationem, officiis
					qui!</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam omnis suscipit numquam, esse eligendi asperiores
					fugiat? Aliquid eveniet officia quam architecto doloribus! Magnam quibusdam quod, impedit quo in recusandae commodi
					voluptatum iure dicta beatae officiis nostrum, laudantium quaerat, at corporis consectetur ipsum sapiente eum
					quisquam provident! Dolore explicabo corporis adipisci.</p>
				<h3 class="h3-title">Lorem, ipsum dolor.</h3>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, vero. Nesciunt, ipsa explicabo. Beatae incidunt aut aspernatur maiores quia consequuntur? Delectus fuga quis eveniet? Aspernatur, dicta ex. Exercitationem, officiis qui!</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam omnis suscipit numquam, esse eligendi asperiores fugiat? Aliquid eveniet officia quam architecto doloribus! Magnam quibusdam quod, impedit quo in recusandae commodi voluptatum iure dicta beatae officiis nostrum, laudantium quaerat, at corporis consectetur ipsum sapiente eum quisquam provident! Dolore explicabo corporis adipisci.</p>
				<h3 class="h3-title">Lorem, ipsum dolor.</h3><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, vero. Nesciunt, ipsa explicabo. Beatae incidunt aut
					aspernatur maiores quia consequuntur? Delectus fuga quis eveniet? Aspernatur, dicta ex. Exercitationem, officiis
					qui!</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam omnis suscipit numquam, esse eligendi asperiores
					fugiat? Aliquid eveniet officia quam architecto doloribus! Magnam quibusdam quod, impedit quo in recusandae commodi
					voluptatum iure dicta beatae officiis nostrum, laudantium quaerat, at corporis consectetur ipsum sapiente eum
					quisquam provident! Dolore explicabo corporis adipisci.</p>
			</div>
		</div>
	</div>
</div><!--/popup-outer-box-->


<div class="popup-outer-box" id="popup-text02">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close" onclick="this.closest('.popup-outer-box').classList.remove('active');document.body.classList.remove('popup-open');return false;"></a>
		<div class="popup-content-wrap inner-text">
			<div class="popup-text-box">
				<h3 class="h3-title">Политика конфиденциальности</h3>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, vero. Nesciunt, ipsa explicabo. Beatae incidunt aut aspernatur maiores quia consequuntur? Delectus fuga quis eveniet? Aspernatur, dicta ex. Exercitationem, officiis qui!</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam omnis suscipit numquam, esse eligendi asperiores fugiat? Aliquid eveniet officia quam architecto doloribus! Magnam quibusdam quod, impedit quo in recusandae commodi voluptatum iure dicta beatae officiis nostrum, laudantium quaerat, at corporis consectetur ipsum sapiente eum quisquam provident! Dolore explicabo corporis adipisci.</p>
				<h3 class="h3-title">Lorem, ipsum dolor.</h3><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, vero. Nesciunt, ipsa explicabo. Beatae incidunt aut
					aspernatur maiores quia consequuntur? Delectus fuga quis eveniet? Aspernatur, dicta ex. Exercitationem, officiis
					qui!</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam omnis suscipit numquam, esse eligendi asperiores
					fugiat? Aliquid eveniet officia quam architecto doloribus! Magnam quibusdam quod, impedit quo in recusandae commodi
					voluptatum iure dicta beatae officiis nostrum, laudantium quaerat, at corporis consectetur ipsum sapiente eum
					quisquam provident! Dolore explicabo corporis adipisci.</p>
				<h3 class="h3-title">Lorem, ipsum dolor.</h3>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, vero. Nesciunt, ipsa explicabo. Beatae incidunt aut aspernatur maiores quia consequuntur? Delectus fuga quis eveniet? Aspernatur, dicta ex. Exercitationem, officiis qui!</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam omnis suscipit numquam, esse eligendi asperiores fugiat? Aliquid eveniet officia quam architecto doloribus! Magnam quibusdam quod, impedit quo in recusandae commodi voluptatum iure dicta beatae officiis nostrum, laudantium quaerat, at corporis consectetur ipsum sapiente eum quisquam provident! Dolore explicabo corporis adipisci.</p>
				<h3 class="h3-title">Lorem, ipsum dolor.</h3><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, vero. Nesciunt, ipsa explicabo. Beatae incidunt aut
					aspernatur maiores quia consequuntur? Delectus fuga quis eveniet? Aspernatur, dicta ex. Exercitationem, officiis
					qui!</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam omnis suscipit numquam, esse eligendi asperiores
					fugiat? Aliquid eveniet officia quam architecto doloribus! Magnam quibusdam quod, impedit quo in recusandae commodi
					voluptatum iure dicta beatae officiis nostrum, laudantium quaerat, at corporis consectetur ipsum sapiente eum
					quisquam provident! Dolore explicabo corporis adipisci.</p>
				<h3 class="h3-title">Lorem, ipsum dolor.</h3>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, vero. Nesciunt, ipsa explicabo. Beatae incidunt aut aspernatur maiores quia consequuntur? Delectus fuga quis eveniet? Aspernatur, dicta ex. Exercitationem, officiis qui!</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam omnis suscipit numquam, esse eligendi asperiores fugiat? Aliquid eveniet officia quam architecto doloribus! Magnam quibusdam quod, impedit quo in recusandae commodi voluptatum iure dicta beatae officiis nostrum, laudantium quaerat, at corporis consectetur ipsum sapiente eum quisquam provident! Dolore explicabo corporis adipisci.</p>
				<h3 class="h3-title">Lorem, ipsum dolor.</h3><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, vero. Nesciunt, ipsa explicabo. Beatae incidunt aut
					aspernatur maiores quia consequuntur? Delectus fuga quis eveniet? Aspernatur, dicta ex. Exercitationem, officiis
					qui!</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam omnis suscipit numquam, esse eligendi asperiores
					fugiat? Aliquid eveniet officia quam architecto doloribus! Magnam quibusdam quod, impedit quo in recusandae commodi
					voluptatum iure dicta beatae officiis nostrum, laudantium quaerat, at corporis consectetur ipsum sapiente eum
					quisquam provident! Dolore explicabo corporis adipisci.</p>
				<h3 class="h3-title">Lorem, ipsum dolor.</h3>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, vero. Nesciunt, ipsa explicabo. Beatae incidunt aut aspernatur maiores quia consequuntur? Delectus fuga quis eveniet? Aspernatur, dicta ex. Exercitationem, officiis qui!</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam omnis suscipit numquam, esse eligendi asperiores fugiat? Aliquid eveniet officia quam architecto doloribus! Magnam quibusdam quod, impedit quo in recusandae commodi voluptatum iure dicta beatae officiis nostrum, laudantium quaerat, at corporis consectetur ipsum sapiente eum quisquam provident! Dolore explicabo corporis adipisci.</p>
				<h3 class="h3-title">Lorem, ipsum dolor.</h3><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, vero. Nesciunt, ipsa explicabo. Beatae incidunt aut
					aspernatur maiores quia consequuntur? Delectus fuga quis eveniet? Aspernatur, dicta ex. Exercitationem, officiis
					qui!</p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam omnis suscipit numquam, esse eligendi asperiores
					fugiat? Aliquid eveniet officia quam architecto doloribus! Magnam quibusdam quod, impedit quo in recusandae commodi
					voluptatum iure dicta beatae officiis nostrum, laudantium quaerat, at corporis consectetur ipsum sapiente eum
					quisquam provident! Dolore explicabo corporis adipisci.</p>
			</div>
		</div>
	</div>
</div><!--/popup-outer-box-->

<div class="popup-outer-box" id="popup-callback">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close" onclick="this.closest('.popup-outer-box').classList.remove('active');document.body.classList.remove('popup-open');return false;"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Заказать звонок</div>
			<p>Мы свяжемся с Вами!</p>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input field-dark">
							<div class="field-title">Ваше имя</div>
							<div class="field-input">
								<input type="text" class="form-input" placeholder="">
							</div>
						</div>
					</div>
					<div class="frm-field">
						<div class="frm-field-input field-dark">
							<div class="field-title">Ваш телефон</div>
							<div class="field-input">
								<input type="tel" class="form-input" placeholder="">
							</div>
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-file js-field-file">
							<input type="file" class="js-field-input">
							<button type="button" class="btn-file js-file-button" data-title="Приложить файл">
								<span class="button-title">Приложить файл</span>
							</button>
						</div>
					</div>
				</div>
				<div class="frm-row row-info">
					<div class="frm-field">
						<p>Нажимая на кнопку, вы даете согласие на обработку персональных данных и
							соглашаетесь
							c&nbsp;<a href="" class="link-main">«Политикой конфиденциальности»</a>.</p>
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field">
						<button type="submit" class="btn button-light button-content">
							<div class="button-title">Отправить</div>
							<div class="button-ico">
								<img src="./img/icons/play.svg" alt="">
							</div>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->