
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<div class="elm-dots"><span></span></div>
				<div class="logo-title">печать на&nbsp;стенах</div>
			</a>
		</div>
		<div class="contacts-inner-wrap">
			<div class="contacts-wrap">
				<div class="phone-wrap">
					<a href="tel:80000000000" class="link-phone">+7 (000) 000 00 00</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-wa.svg" alt="">
					</a>
				</div>
				<div class="email-wrap">
					<a href="mailto:info@print.ru" class="link-email">info@print.ru</a>
				</div>
			</div>
			<div class="info-wrap">
				<p>г. Москва, Красная площадь, дом&nbsp;1</p>
				<p>Время работы Пн-Сб 09:00-19:00</p>
			</div>
		</div>
		<div class="info-inner-wrap">
			<p><a href="">Пользовательское соглашение</a></p>
			<p><a href="">Политика конфиденциальности</a></p>
			<div class="rate-inner-wrap">
				<div class="rate-wrap">
					<div class="elm-rate">
						<div class="elm-ico ico-large">
							<img src="./img/icons/yd.svg" alt="">
						</div>
						<div class="rate-total">
							<div class="rate-title">4,8</div>
							<div class="rate-max">/5</div>
						</div>
					</div>
				</div>
				<div class="rate-wrap">
					<div class="elm-rate">
						<div class="elm-ico">
							<img src="./img/icons/rate.svg" alt="">
						</div>
						<div class="rate-text">Ваша <br>оценка</div>
					</div>
				</div>
				<div class="rate-info">Рейтинг организации в Яндексе</div>
			</div>
		</div>
		<div class="copy-inner-wrap">
			<p>©2024 Все права защищены.</p>
		</div>
		<div class="menu-inner-wrap">
			<ul class="menu">
				<li><a href="">Технология</a></li>
				<li><a href="">Цены</a></li>
				<li><a href="">Подбор изображения</a></li>
				<li><a href="">Примеры работ</a></li>
				<li><a href="">FAQ</a></li>
			</ul>
		</div>
	</div>
</footer>
<!-- /footer -->