
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<div class="elm-dots"><span></span></div>
				<div class="logo-title">печать на&nbsp;стенах</div>
			</a>
		</div>
		<div class="contacts-inner-wrap">
			<div class="contacts-wrap">
				<div class="phone-wrap">
					<a href="tel:80000000000" class="link-phone">+7 (000) 000 00 00</a>
				</div>
				<div class="email-wrap">
					<a href="mailto:info@print.ru" class="link-email link-main">info@print.ru</a>
				</div>
			</div>
			<div class="messages-wrap">
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-wa.svg" alt="">
				</a>
			</div>
		</div>
		<div class="popup-menu-wrap menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu js-btn-popup-toggle"><span></span></a>
			<div class="popup-content-block js-popup-block">
				<ul class="menu">
					<li><a href="#section01" class="js-anchor">Технология</a></li>
					<li><a href="#section02" class="js-anchor">Цены</a></li>
					<li><a href="#section03" class="js-anchor">Подбор изображения</a></li>
					<li><a href="#section04" class="js-anchor">Примеры работ</a></li>
					<li><a href="#section05" class="js-anchor">FAQ</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<!-- /header -->